*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    font-size: 1.25em; /* calc(0.5em + 1vw); */
    line-height: 1;
    --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --color-primary: #4a4dff;
    --column-width: 800px;
}

@media (min-width: 800px) {
    :root {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 0.875rem;
    }
}

body {
    margin: unset;
    background-color: #f7f8fc;
    font-family: var(--font-system);
}

header {
    max-width: var(--column-width);
    margin: 0 auto;
}

.container {
    max-width: var(--column-width);
    margin: 0 auto;
    padding: 1rem;
}

.main {
    padding: 1rem;
    background-color: #edf0f5;
    border-radius: 2em;
}

h1 {
    margin: 6rem 0;
    font-weight: 400;
}

.nav {
    margin-top: 1.5rem;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    background-color: #fafafa;
    color: #808080;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
}

.nav .featured {
    background-color: var(--color-primary);
}

.footer {
    background-color: #fafafa;
    color: #808080;
    padding: 1rem 0;
    margin-top: 4rem;
    text-align: center;
    font-size: 0.75rem;
}

.card {
    padding: 1em;
}

.card > h2 {
    margin: 0 0 0.5em;
    font-size: 1.5rem;
    font-weight: 700;
}
